#cardContainer, .formcontainer,#content, #heading{
  display:flex;
  justify-content: center;
}
#heading{
  margin-top:4vh;
  font-size:6vh;
  font-weight: bold;
  text-shadow: 1.5px 3px #bdd438;
}
.formcontainer,input,button{
  border-radius: 4px;
}
.formcontainer{
  flex-direction: row;
  width:70vw;
  height:64vh;
  margin:8vh 15vw 8vh 15vw;
  background-color: rgb(241, 241, 241);
  border:1px solid rgb(85, 88, 51);
}
#content{
  flex-direction: column;
  padding:5vh 0vw 5vh 0vw;
  width:80%;
}
input{
  display:flex;
  width:55vw;
  height:5vh;
  margin-top:1vh;
  border:1px solid rgb(0, 0, 0);
}
label{
  font-size:2.2vh;
}
#cardContainer{
  row-gap: 5px;
  column-gap: 1.5vw;
  row-gap:4vh;
  height: 100%;
  margin:8vh 15vw 8vh 15vw;
  flex-wrap: wrap;
}
#card{
  padding:2vh 1vw 2vh 1vw;
  border:1.5px solid rgb(204, 204, 204);
  width: 15vw;
  border-radius: 6px;
  box-shadow: 4px 5px 5px rgb(139, 139, 139);
}
img{
  height:30vh;
  width: 15vw;
  padding-bottom: 1vh;
}
button{
  font-size:2vh;
  color:#fff;
  padding:1.5vh 1.2vw 1.5vh 1.2vw;
  background-color: rgb(41, 0, 138);
  border:none;
  margin-bottom:1vh;
  box-shadow: 4px 5px 5px rgb(139, 139, 139);
}
